mixin navigation()
  nav#main-nav.navbar-menu(class=`m-navigation ${attributes.class}`)&attributes(attributes)
    .navbar-start
      a.navbar-item(href="/") home
      a.navbar-item(href="/about") about
      //- a.navbar-item links